---
import { Image } from 'astro:assets';
import Hero from '../assets/papra-screenshot.png';
import FeaturesBento from '../components/FeaturesBento.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/app.css';
---

<Layout>
  <div class="relative overflow-hidden pb-300px">
    <div class="z-10 bg-primary size-128 rounded-full blur-84 op-20 transform translate-x--80% translate-y--33% absolute"></div>
    <div class="z-10 bg-primary size-128 rounded-full blur-84 op-20 transform translate-x-80% translate-y-33% absolute right-0"></div>

    <Header />

    <div class="max-w-2xl mx-auto pt-20 pb-32 px-4 mt-24 text-center">
      <h1 class="text-4xl font-bold mb-4 text-pretty">Your Open-Source Solution to Document Chaos</h1>
      <p class="text-lg text-muted-foreground">An open-source document management platform designed to help you organize, secure, and archive your files effortlessly.</p>

      <div class="flex items-center justify-center gap-2 mt-8">
        <a href="https://demo.papra.app" class="border text-sm font-bold rounded py-2 px-4 rounded-xl hover:border-primary hover:text-primary transition" target="_blank"> Live Demo </a>

        <a
          href="https://dashboard.papra.app/register"
          class="text-sm flex items-center gap-1.5 bg-primary hover:bg-primary/80 font-bold rounded py-2 px-4 rounded-xl text-primary-foreground transition"
        >
          Private Beta
          <div class="i-tabler-arrow-right size-5"></div>
        </a>
      </div>
    </div>
  </div>

  <div class="bg-card border-t">
    <Image src={Hero} alt="Papra Screenshot" class="mx-auto max-w-1000px w-full relative z-50 mt--300px" />
  </div>

  <FeaturesBento />

  <div class=" py-32 relative overflow-hidden border-y">
    <div class="z-10 bg-primary size-64 rounded-full blur-84 op-20 transform translate-x--80% translate-y--33% absolute"></div>
    <div class="z-10 bg-primary size-128 rounded-full blur-84 op-20 transform translate-x-80% translate-y-33% absolute right-0"></div>

    <div class="max-w-800px mx-auto p-6">
      <div class="text-center">
        <p class="text-3xl font-bold text-pretty">"With Papra, we've streamlined our document management process."</p>
        <div class="text-lg mt-4">- Ada, FICSIT Inc.</div>
      </div>
    </div>
  </div>

<div class="bg-card py-32">
  <div class="max-w-1200px mx-auto px-6">
    <div class="border rounded-xl bg-background pt-32 pb-24 bg-[linear-gradient(to_right,#80808010_1px,transparent_1px),linear-gradient(to_bottom,#80808010_1px,transparent_1px)] bg-[size:48px_48px] px-6">
      <h2 class="text-2xl sm:text-4xl font-bold text-center max-w-650px mx-auto">
        Trusted by home, startups, and enterprises of all sizes.
      </h2>

      <div class="flex mt-4 items-center justify-center">
        <a href="https://dashboard.papra.app/register" class="font-semibold text-background px-4 py-2 hover:bg-primary/80 rounded-lg bg-primary transition mt-8 inline-block flex items-center">
          Get started

          <div class="i-tabler-arrow-right ml-2" aria-hidden="true"></div>
        </a>
      </div>
    </div>
  </div>
</div>

  <Footer />
</Layout>
