<div class="bg-card">
  <div class="max-w-1000px mx-auto p-6 py-24">
    <div class="text-center">
      <h2 class="text-2xl font-bold text-pretty">Active Development</h2>
      <p class="text-lg text-muted-foreground mt-1">Join us in shaping the future of Papra</p>
    </div>

    <div class="grid gap-6 grid-cols-1 md:grid-cols-3 my-12">
      <div class="bg-background border border-border p-6 rounded-lg">
        <div class="text-lg font-bold mb-2">Active Development</div>
        <p class="text-muted-foreground">We're continuously improving features and performance to deliver a seamless experience.</p>
      </div>

      <div class="bg-background border border-border p-6 rounded-lg">
        <div class="text-lg font-bold mb-2">Private Beta</div>
        <p class="text-muted-foreground">Join our private beta to test new features, provide feedback, and help shape the platform.</p>
      </div>

      <div class="bg-background border border-border p-6 rounded-lg">
        <div class="text-lg font-bold mb-2">Stay Connected</div>
        <p class="text-muted-foreground">Follow our progress on GitHub or on social media, and be the first to know about updates and announcements.</p>
      </div>
    </div>

    <div class="flex justify-center mt-8">
      <a href="https://github.com/papra-hq/papra" class="border text-sm font-bold rounded py-2 px-4 rounded-xl hover:border-primary hover:text-primary transition flex items-center gap-2">
        Explore Our GitHub Repo
        <div class="i-tabler-arrow-right size-5"></div>
      </a>
    </div>
  </div>
</div>
