---
import { config } from '../app.config';
import { useI18n } from '../i18n/i18n';

const { t } = useI18n({ locale: Astro.currentLocale });
---

<a
  class="launch-banner bg-primary text-primary-foreground py-3 px-6 text-center text-sm font-semibold flex items-center justify-center gap-6"
  role="alert"
  href={config.getStartedLink}
  target="_blank"
  rel="noopener"
>
  <span class="flex items-center">
    <span class="i-tabler-speakerphone size-5.5 align-middle hidden sm:inline-block mr-1 flex-shrink-0"></span>
    {t('launch-banner.text', { percentage: config.launchDiscount.percentage })}
  </span>
</a>
