---
import type { Props as HeaddProps } from '../components/Head.astro';
import Head from '../components/Head.astro';
import '../styles/app.css';

type Props = {} & HeaddProps;

const { ...headProps } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head {...headProps} />
  </head>
  <body class="bg-background font-sans antialiased min-h-screen text-foreground text-sm" data-kb-theme="dark">
    <slot />
  </body>
</html>
